[submodule "3rd-party/cutlass"]
	path = 3rd-party/cutlass
	url = git@github.com:NVIDIA/cutlass.git
[submodule "3rd-party/googletest"]
	path = 3rd-party/googletest
	url = git@github.com:google/googletest.git
	branch = main
